body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

table {
	width: 1400px;
}

th {
	background-color: #333;
	color: #fff;
}

td {
	padding: 5px;
	background-color: #f2f2f2;
}

section {
	width: 1155px;
	overflow: hidden;
}

section table tr {
	clip: rect(0, 1155px, 31px, 0);
}


.alt { background-color: #ADD8E6; }

#hdr3, #hdr4 {
	background: #333;
	color: #fff;
	padding: 10px;
	margin: 0px;
}

#d1 {
	background: #666;
	padding: 10px;
	color: #fff;
}